In [2]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
from sklearn import decomposition #pca
from sklearn.preprocessing import StandardScaler # Standardization ((X - X_mean)/X_std)
from sklearn.neighbors import KNeighborsClassifier #KNN Model
from sklearn.ensemble import RandomForestClassifier #RandomForest Model
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression #Logistic Model
from sklearn.linear_model import LogisticRegressionCV
from sklearn.svm import SVC
from sklearn.model_selection import KFold

from sklearn.model_selection import train_test_split # Splitting into train and test
from sklearn import metrics
from sklearn.metrics import accuracy_score

from sklearn.metrics import roc_auc_score
from sklearn.model_selection import StratifiedKFold
import xgboost
from xgboost import XGBClassifier

from sklearn.model_selection import RandomizedSearchCV,GridSearchCV# Hyperparameter Tuning
from sklearn.model_selection import cross_val_score#cross validation score
from sklearn.metrics import classification_report # text report showing the main classification metrics
from sklearn.metrics import confusion_matrix #to get confusion_matirx 
import matplotlib.pyplot as plt
import pickle

In [5]:
clean_df=pd.read_csv('clean_data.csv')

In [6]:
clean_df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi,pulse
0,50,2,168,62,110,80,1,1,0,0,1,0,22,30
1,55,1,156,85,140,90,3,1,0,0,1,1,35,50
2,52,1,165,64,130,70,3,1,0,0,0,1,24,60
3,48,2,169,82,150,100,1,1,0,0,1,1,29,50
4,48,1,156,56,100,60,1,1,0,0,0,0,23,40

In [7]:
Y = clean_df.iloc[:,11].values
X = clean_df.drop(['cardio', 'height','smoke','active','alco','gender','pulse'], axis =1)

In [8]:
X.head()

   age  weight  ap_hi  ap_lo  cholesterol  gluc  bmi
0   50      62    110     80            1     1   22
1   55      85    140     90            3     1   35
2   52      64    130     70            3     1   24
3   48      82    150    100            1     1   29
4   48      56    100     60            1     1   23

In [10]:
X.shape

(64652, 7)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42, shuffle = True)

In [12]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
svm=SVC(kernel='rbf')
svm.fit(X_train,y_train)
svm_pred=svm.predict(X_test)
accuracy_score=(y_test,svm_pred)

In [14]:
import pickle
with open('svm_rbf1.pkl','wb') as f:
    pickle.dump(svm,f)
    
# with open('svm_poly.pkl','wb') as f:
#     pickle.dump(svm_poly,f)
    
# with open('svm_rbf.pkl','wb') as f:
#     pickle.dump(svm_rbf,f)
    
# with open('lr.pkl','wb') as f:
#     pickle.dump(lr,f)
    
# with open('knn.pkl','wb') as f:
#     pickle.dump(knn,f)
    
# with open('dt.pkl','wb') as f:
#     pickle.dump(dt,f)
    
# with open('rf.pkl','wb') as f:
#     pickle.dump(rf,f)

# with open('xgb.pkl','wb') as f:
#     pickle.dump(xgb,f)